._styles-module__FallingEmojis__Jiv79 {
  position: fixed;
  pointer-events: none;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 9;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emoji__1PZEU {
  position: relative;
  font-size: 36px;
  opacity: 0;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emojiAnimation0__8xRe2 {
  animation: _styles-module__float__3oO7A 6s ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emojiAnimation1__3xOMG {
  animation: _styles-module__float__3oO7A 8s ease-in-out;
  animation-delay: 1;
  animation-iteration-count: infinite;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emojiAnimation2__lA6Ei {
  animation: _styles-module__float__3oO7A 10s ease-in-out;
  animation-delay: 2;
  animation-iteration-count: infinite;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emojiAnimation3__2fsNE {
  animation: _styles-module__float__3oO7A 12s ease-in-out;
  animation-delay: 3;
  animation-iteration-count: infinite;
}
._styles-module__FallingEmojis__Jiv79 ._styles-module__emojiAnimation4__2q_6E {
  animation: _styles-module__float__3oO7A 14s ease-in-out;
  animation-delay: 4;
  animation-iteration-count: infinite;
}
@keyframes _styles-module__float__3oO7A {
  0% {
    opacity: 0;
    top: -10%;
    left: 0%;
  }
  25% {
    opacity: 0.8;
    left: 5%;
  }
  50% {
    opacity: 1;
    left: 0%;
  }
  75% {
    opacity: 0.2;
    left: 5%;
  }
  100% {
    top: 100%;
    left: 0%;
    opacity: 0;
  }
}
@media (max-width: 650px) {
  ._styles-module__FallingEmojis__Jiv79 ._styles-module__emoji__1PZEU {
    font-size: 28px;
  }
}
@media only screen and (max-width: 450px) {
  ._styles-module__FallingEmojis__Jiv79 ._styles-module__emoji__1PZEU {
    font-size: 20px;
  }
}
